{% extends 'base.html' %}
{% block content %}
   <h2>Cliente</h2>
   <a href="{% url 'incluir_cliente' %}" class="btn btn-info btn-lg">Incluir Novo Cliente</a>
   <table class='table table-striped'>
      <thead>
      <tr>
         <td>Nome</td>
         <td>Telefone</td>
         <td>Email</td>  
         <td>Ações</td>
      </tr>
   </thead>
   <tbody>
      {% for c in cliente %}
      <tr>
         <td>{{c.nome}}</td>
         <td>{{c.telefone}}</td>
         <td>{{c.email}}</td>
         <td>
            
            <a href ="{% url 'alterar_cliente' c.id %}" class="btn btn-primary">Alterar</a>
            <a href= "#" class ="btn btn-danger" onclick="abrirTela('{% url 'excluir_cliente' c.id %}')">Excluir</a>
            
         </td>        
      </tr>
      {% endfor %}
   </tbody>
   </table>
{% endblock %}