{% extends 'base.html' %}
{% block content %}
   <h2>Modelos</h2>
   <a href="#" class="btn btn-primary">Cadastrar novo modelo</a>
   <table class="table tabl-striped">
      <thead>
      <tr>
         <td>Nome</td>
         <td>Marca</td>
         <td>Ações</td>  
      </tr>
   </thead>
   <tbody>
      {% for m in modelos %}
      <tr>
         <td>{{m.nome}}</td>
         <td>{{m.marca.nome}}</td>
         <td>
            <a href ="#" class="btn btn-primary">Alterar</a>
            <a href= "#" class = "btn btn-danger">Excluir</a>
         </td>
      </tr>
      {% endfor %}
   </tbody>
   </table>
{% endblock %}